.mainContent {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}
body {
  background: #e4cc76;
  background: -moz-radial-gradient(
    circle,
    #e4cc76 0,
    #d7a94b 33%,
    #a17750 66%,
    #533627 100%
  );
  background: -webkit-radial-gradient(
    circle,
    #e4cc76 0,
    #d7a94b 33%,
    #a17750 66%,
    #533627 100%
  );
  background: radial-gradient(
    circle,
    #e4cc76 0,
    #d7a94b 33%,
    #a17750 66%,
    #533627 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4cc76",endColorstr="#533627",GradientType=1);
}
.mainHeading,
.subHeading {
  font-family: "Nova Square", cursive;
  font-size: xx-large;
  color: #921e23;
  text-shadow: #fff 1px 0 10px;
}
.subHeading {
  font-size: 20px;
  color: #000;
  text-shadow: none;
}
.description {
  font-size: 15px;
}
.description,
.footerText,
a,
form {
  font-family: "PT Sans", sans-serif;
  color: #fff;
  text-shadow: #000 1px 0 10px;
}
form {
  font-size: 19px;
}
hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #a17750, #333, #a17750);
}
img {
  border-radius: 7px;
  box-shadow: #000 1px 0 10px;
}
.footerText,
a {
  text-align: center;
  text-decoration: none;
}
.container {
  display: block;
  position: relative;
  padding-left: 33px;
  margin-bottom: 7px;
  cursor: pointer;
  font-size: 19px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #d43540;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}
